@import "../../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Oswald:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  background-color: #f8f9fa;
  margin: auto;
}
:not(.navbar-branda) {
  font-size: 100%;
  font-family: Oswald;
  font-weight: 600;
}
.nav-item :hover {
  color: gray;
}
.navbar-brand :hover {
  color: gray;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
}

section {
  // ? height: auto; ?
  background-color: rgb(237, 237, 237);
  padding: 30px 0px;
  //border: solid 2px red;
  min-height: calc(100vh - 62px - 52.5px);
}
.card {
  min-width: 250px;
}
.rel-earl {
  max-width: 150px;
  @include media-breakpoint-up(md) {
    max-width: 180px;
  }
  @include media-breakpoint-up(lg) {
    max-width: 200px;
  }
}
.cbdy {
  background-color: rgb(237, 237, 237);
}
// ? index---
.abtme {
  font-family: Oswald;
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
  //border: solid 2px red;
  min-height: 400px;

  @include media-breakpoint-up(md) {
    font-size: 3.5rem;
  }
  @include media-breakpoint-up(lg) {
    font-size: 4rem;
  }
  @include media-breakpoint-up(xl) {
    font-size: 5rem;
  }
  @include media-breakpoint-up(xxl) {
    font-size: 5.5rem;
  }
}

// ? profile----

.profile-card-image {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  border: solid 18px black;
  margin-top: 7vh;
}

.prfl {
  font-size: 0.9rem;
  p {
    font-family: Comfortaa;
    letter-spacing: 0.01rem;
    font-weight: 300;
    text-align: left;
  }
  h5 {
    font-size: 1.25rem;
  }
  @include media-breakpoint-up(md) {
    font-size: 0.92rem;
    h5 {
      font-size: 1.5rem;
    }
  }
  @include media-breakpoint-up(lg) {
    font-size: 0.95rem;
  }
  @include media-breakpoint-up(xl) {
    font-size: 1rem;
  }
  @include media-breakpoint-up(xxl) {
    font-size: 1rem;
    h5 {
      font-size: 1.6rem;
    }
  }
}
// ? profile fine tuning page classes

.card-text {
  margin-left: 1vw;
}
.list-group {
  margin-left: 1vw;
}
.li-ico {
  padding-right: 1rem;
}
.text-muted {
  font-size: 0.75rem;
  font-family: Comfortaa;
  letter-spacing: 0.01rem;
}
.typografy-li {
  font-family: Comfortaa;
  letter-spacing: 0.01rem;
  font-weight: 700;
}
.pl {
  color: green;
}
.ll {
  margin-right: 10px;
}
// ?  -----
.ftxt {
  font-size: 1rem;
  width: 100%;
}
.form-list {
  list-style-type: none;
}
.cvc {
  background-image: url(../images/cme9.png);
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}
.cmcloud {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    44% 100%,
    50% 75%,
    0 75%
  );
  max-height: 250px;
  max-width: 300px;
}
/// ? Portfolio page
.carousel-caption {
  p {
    font-family: Comfortaa;
    letter-spacing: 0.01rem;
    font-weight: 300;
    text-align: center;
  }
  h5 {
    font-size: 1.25rem;
  }
  @include media-breakpoint-up(md) {
    font-size: 0.92rem;
    h5 {
      font-size: 1.5rem;
    }
  }
  @include media-breakpoint-up(lg) {
    font-size: 0.95rem;
  }
  @include media-breakpoint-up(xl) {
    font-size: 1rem;
  }
  @include media-breakpoint-up(xxl) {
    font-size: 1rem;
    h5 {
      font-size: 1.6rem;
    }
  }
}
// ? ---------------------
// ? animations & fancy stuff
.scl2:hover {
  position: relative;
  transition: transform 2s;
  transition-timing-function: ease-in-out;
  transform: translateY(100px) scale(1.85);
  transform-origin: bottom;
  z-index: 100;
}

.strb:hover {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    44% 100%,
    50% 75%,
    0 75%
  );
  animation: first 0.1s infinite alternate;
  animation-name: strobe;
}
@keyframes strobe {
  from,
  to {
    background-color: greenyellow;
  }
  50% {
    background-color: transparent;
  }
}
// ? ----////----////----////
.ct {
  font-family: Comfortaa;
  font-weight: 700;
  @include media-breakpoint-up(xs) {
    font-size: 0.9rem;
  }
  @include media-breakpoint-up(sm) {
    font-size: 0.91rem;
  }
  @include media-breakpoint-up(md) {
    font-size: 0.92rem;
  }
  @include media-breakpoint-up(lg) {
    font-size: 0.94rem;
  }
  @include media-breakpoint-up(xl) {
    font-size: 0.98rem;
  }
  @include media-breakpoint-up(xxl) {
    font-size: 1rem;
  }
}
